# general settings
rabbitmq.username=rabbitmq
rabbitmq.password=
rabbitmq.host=localhost
rabbitmq.port=5672
rabbitmq.virtualhost=/
# mtls specific
rabbitmq.useclientcert=true
rabbitmq.clientkeystorepassphase=superawesomepassword
rabbitmq.clientkeystorepath=/tmp/clientcert/clientcert.p12
rabbitmq.serverkeystorepassphase=superawesomepassword
rabbitmq.serverkeystorepath=/tmp/servercert/servercert.p12